<!-- <p appCustomTextDirective>Red text</p> -->
<!-- <app-component-b></app-component-b>
<app-component-c></app-component-c> -->
<!-- 
<ul>
    <li *ngFor='let arr of array;'>{{arr}}</li>
</ul>

<div *ngIf="isTrue; else myElse;">
    you are true
</div>

<ng-template #myElse>
    <div>
        you are flase
    </div>
</ng-template>

<h1>{{mydate | date:'M/d/yy, h:mm a' }}</h1> -->

<div class="container mx-10">
    <p class="font-bold text-green-500 text-center mb-5">Os List</p>
    <form class="example-form">
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                 Name
              </label>
              <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Jane">
              <p class="text-red-500 text-xs italic">Please fill out this field.</p>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                Version
              </label>
              <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Doe">
            </div>
          </div>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
           Sumbit
          </button>
      </form>
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg  mx-10">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Id
                      </th>
                    <th scope="col" class="py-3 px-6">
                      Name
                    </th>
                    <th scope="col" class="py-3 px-6">
                      Version
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Acton
                      </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let server of os; let i = index" class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{server.id}}
                    </th>
                    <th scope="row" class="py-4 px-6">
                        {{server.name}}
                    </th>
                    <td class="py-4 px-6">
                       {{server.version}}
                    </td>
                  
                    <td class="py-4 px-6">
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        <a href="#" class="font-medium p-3 text-green-600 dark:text-blue-500 hover:underline">View</a>
                        <a href="#" class="font-medium text-rose-600 dark:text-blue-500 hover:underline">Delete</a>
                    </td>
                </tr>
      
            </tbody>
        </table>      
    </div>
</div>
